In [1]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
#from config import api_key
api_key = "834166735a65117b18f0744a683ba7d6"

In [2]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={api_key}&units=imperial&q="

In [3]:
cities = ["Helsinki",
"Copenhagen",
"Bern",
"Reykjavik",
"Amsterdam",
"Oslo",
"Stockholm",
"Luxembourg",
"Wellington",
"Vienna",
"Canberra",
"Jerusalem",
"Berlin",
"Ottawa",
"Dublin",
"San Jose",
"London",
"Prague",
"Washington",
"Brussels",
"Paris",
"Manama",
"Valletta",
"Taipei",
"Abu Dhabi",
"Riyadh",
"Madrid",
"Rome",
"Ljubljana",
"Guatemala City",
"Montevideo",
"Singapore",
"Pristina",
"Bratislava",
"Brasilia",
"Mexico City",
"Kingston",
"Vilnius",
"Nicosia",
"Tallinn",
"Panama City",
"Tashkent",
"Santiago",
"Warsaw",
"Astana",
"Bucharest",
"Kuwait City",
"Belgrade",
"San Salvador",
"Port Louis",
 "Riga",
"Bogota",
"Budapest",
"Bangkok",
"Managua",
"Tokyo",
"Buenos Aires",
"Lisbon",
"Tegucigalpa",
"Zagreb",
"Manila",
"Seoul",
"Lima",
"Sarajevo",
"Chisinau",
"Quito",
"Bishkek",
"Athens",
"La Paz",
"Ulaanbaatar",
"Asuncion",
"Podgorica",
"Santo Domingo",
"Minsk",
"Moscow",
"City of Victoria",
"Dushanbe",
"Hanoi",
"Tripoli",
"Kuala Lumpur",
"Jakarta",
"Brazzaville",
"Beijing",
"Abidjan",
"Yerevan",
"Kathmandu",
"Sofia",
"Male",
"Baku",
"Yaounde",
"Dakar",
"Tirana",
"Skopje",
"Accra",
"Niamey",
"Ashgabat",
"Banjul ",
"Porto-Novo",
"Vientiane",
"Dhaka",
"Conakry",
"Pretoria",
"Ankara",
"Islamabad",
"Rabat",
"Caracas",
"Tbilisi",
"Algiers",
"Kyiv",
"Baghdad",
"Libreville",
"Ouagadougou",
"Phnom Penh",
"Maputo",
"Abuja",
"Bamako",
"Tehran",
"Kampala",
"Monrovia",
"Nairobi",
"Tunis",
"Beirut",
"Windhoek",
"Ramallah",
"Rangoon",
"Amman",
"N'Djamena",
"Colombo",
"Mbabane",
"Moroni",
"Cairo",
"Addis Ababa",
"Nouakchott",
"Antananarivo",
"Lome",
"Lusaka",
"Freetown",
"New Delhi",
"Bujumbura",
"Sanaa",
"Dar es Salaam",
"Port-au-Prince",
"Lilongwe",
"Maseru",
"Gaborone",
"Kigali",
"Harare",
"Kabul"
]

# set up lists to hold reponse info
temp = []
temp_min = []
temp_max= []
country = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = requests.get(query_url + city).json()
    temp.append(response['main']['temp'])
    temp_min.append(response['main']['temp_min'])
    temp_max.append(response['main']['temp_max'])
    country.append(response['sys']['country'])

print(f"The temperature information received is: {temp}")

The temperature information received is: [49.19, 51.96, 68.09, 42.64, 50.16, 51.96, 50.99, 58.03, 59.68, 61.74, 50.04, 83.37, 59.45, 46.2, 58.48, 59.74, 60.35, 57.13, 47.39, 64.09, 70.3, 86, 75.2, 76.75, 88.57, 99.73, 81.23, 60.3, 62.51, 69.55, 59.86, 79.63, 57.74, 61.16, 79.83, 62.6, 84.6, 43.81, 78.93, 43.57, 84.76, 82.4, 55.98, 52.61, 59, 59.02, 93.13, 61.7, 79.05, 73.47, 48.2, 62.6, 61.27, 82.69, 86, 69.4, 61.27, 68.85, 73.2, 62.76, 84.87, 53.64, 68.04, 59, 55.4, 66.2, 71.6, 80.02, 51.8, 37.4, 69.8, 77, 84.96, 46.2, 48.13, 79.77, 68, 80.6, 70.9, 78.28, 81.82, 82.4, 59.99, 86, 73.4, 66.2, 62.28, 86, 60.8, 77, 77, 73.4, 66.2, 80.6, 107.6, 62.6, 89.6, 84.2, 89.01, 86, 87.8, 64.89, 71.91, 84.99, 71.74, 79.16, 69.8, 86, 45.52, 96.8, 86, 102.2, 86, 77.83, 91.4, 105.8, 71.37, 69.8, 87.8, 74.73, 89.6, 77, 77.54, 82.26, 82.4, 89.6, 104, 80.6, 65.34, 84.2, 107.29, 69.8, 77, 66.2, 84.2, 75.2, 83.08, 93.11, 80.6, 74.03, 84.2, 86, 71.6, 57.85, 73.4, 73.4, 71.01, 71.6]

In [4]:
# create a data frame from cities, lat, and temp
weather_dict = {
    "city": cities,
    "temp": temp,
    "Minimum_Temp": temp_min,
    "Maximum_Temp": temp_max,
    "Country": country
}
weather_data = pd.DataFrame(weather_dict)
weather_data

           city   temp  Minimum_Temp  Maximum_Temp Country
0      Helsinki  49.19         46.99         51.01      FI
1    Copenhagen  51.96         50.00         54.00      DK
2          Bern  68.09         66.99         69.80      CH
3     Reykjavik  42.64         42.01         43.00      IS
4     Amsterdam  50.16         48.99         51.01      NL
..          ...    ...           ...           ...     ...
143      Maseru  57.85         57.85         57.85      LS
144    Gaborone  73.40         73.40         73.40      BW
145      Kigali  73.40         73.40         73.40      RW
146      Harare  71.01         71.01         71.01      ZW
147       Kabul  71.60         71.60         71.60      AF

[148 rows x 5 columns]

In [6]:
weather_data.set_index('city')

             temp  Minimum_Temp  Maximum_Temp Country
city
Helsinki    49.19         46.99         51.01      FI
Copenhagen  51.96         50.00         54.00      DK
Bern        68.09         66.99         69.80      CH
Reykjavik   42.64         42.01         43.00      IS
Amsterdam   50.16         48.99         51.01      NL
...           ...           ...           ...     ...
Maseru      57.85         57.85         57.85      LS
Gaborone    73.40         73.40         73.40      BW
Kigali      73.40         73.40         73.40      RW
Harare      71.01         71.01         71.01      ZW
Kabul       71.60         71.60         71.60      AF

[148 rows x 4 columns]

In [7]:
weather_data.to_csv("weather.csv")