In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "happiness_bycountry.csv"
happiness_df = pd.read_csv(csv_file)

In [3]:
happiness_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [4]:
happiness_df = happiness_df[['Country','Happiness.Rank','Happiness.Score']]

happiness_df

                      Country  Happiness.Rank  Happiness.Score
0                      Norway               1            7.537
1                     Denmark               2            7.522
2                     Iceland               3            7.504
3                 Switzerland               4            7.494
4                     Finland               5            7.469
..                        ...             ...              ...
150                    Rwanda             151            3.471
151                     Syria             152            3.462
152                  Tanzania             153            3.349
153                   Burundi             154            2.905
154  Central African Republic             155            2.693

[155 rows x 3 columns]

In [5]:
len(happiness_df['Country'])

155

In [6]:
csv_file = "wages_bycountry.csv"
wages_df = pd.read_csv(csv_file)

In [7]:
wages_df.head(5)


lines = wages_df['Gross Average Monthly Wages by Country and Year']

In [8]:
lines=lines[1:]

In [9]:
def country_wage(row):
    i = 32
    country1=""
    while(i<len(row)):
        country1 = country1+row[i]
        i=i+1
        if (row[i] == ";"):
            break;
    country=country1[:-1] 
    country

    wage = ""
    i=i+1;
    while(i<len(row)):
        wage = wage+row[i]
        i=i+1


    return country,wage

In [10]:
country_list=[]
wage_list=[]
for line in lines:
    country,wage = country_wage(line)
    country_list.append(country)
    wage_list.append(wage)

In [11]:
wage_df = pd.DataFrame(list(zip(country_list,wage_list)), columns=['Country' , 'Wage'])

wage_df

                   Country    Wage
0                  Albania      ..
1                  Andorra      ..
2                  Armenia   404.1
3                  Austria  4034.2
4               Azerbaijan   307.1
5                  Belarus      ..
6                  Belgium  4127.2
7   Bosnia and Herzegovina   761.2
8                 Bulgaria      ..
9                   Canada  4174.4
10                 Croatia  1219.2
11                  Cyprus  2137.6
12                 Czechia  1285.6
13                 Denmark  5487.1
14                 Estonia  1379.4
15                 Finland  3906.1
16                  France  3541.8
17                 Georgia   398.1
18                 Germany  3713.6
19                  Greece  1632.1
20                 Hungary  1045.2
21                 Iceland      ..
22                 Ireland  4435.6
23                  Israel  2735.0
24                   Italy  2750.2
25              Kazakhstan   462.7
26              Kyrgyzstan   223.3
27                  Latvia  1046.1
28           Liechtenstein      ..
29               Lithuania   948.3
30              Luxembourg  5988.8
31                   Malta      ..
32                  Monaco      ..
33              Montenegro   864.2
34             Netherlands  4401.6
35         North Macedonia   618.0
36                  Norway  5492.0
37                  Poland  1122.5
38                Portugal  1604.3
39     Republic of Moldova   302.0
40                 Romania   819.4
41      Russian Federation      ..
42              San Marino      ..
43                  Serbia   612.3
44                Slovakia  1242.7
45                Slovenia  2230.9
46                   Spain  2642.0
47                  Sweden  3990.4
48             Switzerland  7351.7
49              Tajikistan      ..
50                  Turkey      ..
51            Turkmenistan      ..
52                 Ukraine   267.1
53          United Kingdom  3776.0
54           United States  5046.5
55              Uzbekistan     0.4

In [15]:
new_dataset = pd.merge(happiness_df,wage_df , how ='inner')
new_dataset

                   Country  Happiness.Rank  Happiness.Score    Wage
0                   Norway               1            7.537  5492.0
1                  Denmark               2            7.522  5487.1
2                  Iceland               3            7.504      ..
3              Switzerland               4            7.494  7351.7
4                  Finland               5            7.469  3906.1
5              Netherlands               6            7.377  4401.6
6                   Canada               7            7.316  4174.4
7                   Sweden               9            7.284  3990.4
8                   Israel              11            7.213  2735.0
9                  Austria              13            7.006  4034.2
10           United States              14            6.993  5046.5
11                 Ireland              15            6.977  4435.6
12                 Germany              16            6.951  3713.6
13                 Belgium              17            6.891  4127.2
14              Luxembourg              18            6.863  5988.8
15          United Kingdom              19            6.714  3776.0
16                   Malta              27            6.527      ..
17                  France              31            6.442  3541.8
18                   Spain              34            6.403  2642.0
19                Slovakia              40            6.098  1242.7
20                  Poland              46            5.973  1122.5
21              Uzbekistan              47            5.971     0.4
22                   Italy              48            5.964  2750.2
23               Lithuania              52            5.902   948.3
24                  Latvia              54            5.850  1046.1
25                 Romania              57            5.825   819.4
26            Turkmenistan              59            5.822      ..
27              Kazakhstan              60            5.819   462.7
28                Slovenia              62            5.758  2230.9
29                  Cyprus              65            5.621  2137.6
30                 Estonia              66            5.611  1379.4
31                 Belarus              67            5.569      ..
32                  Turkey              69            5.500      ..
33                  Serbia              73            5.395   612.3
34                 Hungary              75            5.324  1045.2
35                 Croatia              77            5.293  1219.2
36              Montenegro              83            5.237   864.2
37              Azerbaijan              85            5.234   307.1
38                  Greece              87            5.227  1632.1
39                Portugal              89            5.195  1604.3
40  Bosnia and Herzegovina              90            5.182   761.2
41              Tajikistan              96            5.041      ..
42              Kyrgyzstan              98            5.004   223.3
43                Bulgaria             105            4.714      ..
44                 Albania             109            4.644      ..
45                 Armenia             121            4.376   404.1
46                 Georgia             125            4.286   398.1
47                 Ukraine             132            4.096   267.1

In [16]:
new_dataset=new_dataset[new_dataset.Wage !='..']
new_dataset

                   Country  Happiness.Rank  Happiness.Score    Wage
0                   Norway               1            7.537  5492.0
1                  Denmark               2            7.522  5487.1
3              Switzerland               4            7.494  7351.7
4                  Finland               5            7.469  3906.1
5              Netherlands               6            7.377  4401.6
6                   Canada               7            7.316  4174.4
7                   Sweden               9            7.284  3990.4
8                   Israel              11            7.213  2735.0
9                  Austria              13            7.006  4034.2
10           United States              14            6.993  5046.5
11                 Ireland              15            6.977  4435.6
12                 Germany              16            6.951  3713.6
13                 Belgium              17            6.891  4127.2
14              Luxembourg              18            6.863  5988.8
15          United Kingdom              19            6.714  3776.0
17                  France              31            6.442  3541.8
18                   Spain              34            6.403  2642.0
19                Slovakia              40            6.098  1242.7
20                  Poland              46            5.973  1122.5
21              Uzbekistan              47            5.971     0.4
22                   Italy              48            5.964  2750.2
23               Lithuania              52            5.902   948.3
24                  Latvia              54            5.850  1046.1
25                 Romania              57            5.825   819.4
27              Kazakhstan              60            5.819   462.7
28                Slovenia              62            5.758  2230.9
29                  Cyprus              65            5.621  2137.6
30                 Estonia              66            5.611  1379.4
33                  Serbia              73            5.395   612.3
34                 Hungary              75            5.324  1045.2
35                 Croatia              77            5.293  1219.2
36              Montenegro              83            5.237   864.2
37              Azerbaijan              85            5.234   307.1
38                  Greece              87            5.227  1632.1
39                Portugal              89            5.195  1604.3
40  Bosnia and Herzegovina              90            5.182   761.2
42              Kyrgyzstan              98            5.004   223.3
45                 Armenia             121            4.376   404.1
46                 Georgia             125            4.286   398.1
47                 Ukraine             132            4.096   267.1

In [17]:
new_dataset.to_csv("new_dataset.csv" , index = False , header = True)